dn: ou=user,dc=nodomain
objectClass: organizationalUnit
ou: user

dn: uid=Prueba,ou=user,dc=nodomain
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: Prueba
sn: Prueba
givenName: Prueba
cn: Prueba
displayName: Prueba
uidNumber: 100000
gidNumber: 5000
userPassword: Prueba
gecos: Prueba
loginShell: /bin/bash
homeDirectory: /home/users/Prueba

dn: uid=openfire,ou=user,dc=nodomain
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: openfire
sn: openfire
givenName: openfire
cn: openfire
displayName: openfire
uidNumber: 100001
gidNumber: 5001
userPassword: openfire
gecos: openfire
loginShell: /bin/bash
homeDirectory: /home/users/openfire
